@import url(../lib/normalize-css/normalize.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* GENERAL STYLES */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font: 18px/1.2 "Roboto", sans-serif;
  font-weight: 200;
  color: #282627; }

header {
  color: black;
  padding-top: 4rem;
  padding-bottom: 2rem; }

section {
  padding: 5rem 0; }

ul, a {
  text-decoration: none;
  padding: 0; }

/* LAYOUT */
.container, .main-header,
.main-interest,
.people,
.partners,
.contact {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  width: 664px; }
  .container:before, .main-header:before,
  .main-interest:before,
  .people:before,
  .partners:before,
  .contact:before, .container:after, .main-header:after,
  .main-interest:after,
  .people:after,
  .partners:after,
  .contact:after {
    content: " ";
    display: table; }
  .container:after, .main-header:after,
  .main-interest:after,
  .people:after,
  .partners:after,
  .contact:after {
    clear: both; }

/* HEADER */
.lead {
  font-size: 1.44rem;
  font-weight: 100; }

.logo-container {
  text-align: center; }

.logo {
  text-indent: -9999px;
  display: inline-block;
  text-align: center;
  width: 226px;
  height: 115px;
  background: url(../img/inter_logo.png) no-repeat center center; }

/* GOALS */
.goals {
  height: 398px;
  background-color: #ccc; }

.title-section {
  font-size: 2rem;
  font-weight: 300;
  color: #E81E25;
  margin-top: 0px; }

/* INTERESTS */
.main-interest li {
  display: inline-block;
  border-radius: 40px;
  border: 1px solid red;
  padding: 0.5rem 2.05rem;
  margin: 0 0.88rem 0.88rem 0; }

/* PEOPLE */
.people {
  height: 19.11rem; }

.names {
  padding: 0; }
  .names li {
    display: inline-block;
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 22.316%;
    margin-left: 12.94733%; }
    .names li:last-child {
      margin-right: 0; }
  .names li:first-child {
    margin: 0;
    margin-left: 0%; }

/* PROJECTS */
.projects {
  background-color: #E81E25;
  *zoom: 1; }
  .projects:before, .projects:after {
    content: " ";
    display: table; }
  .projects:after {
    clear: both; }

.project-container {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 41.737%;
  margin-left: 12.94733%; }
  .project-container:last-child {
    margin-right: 0; }

.project-container:first-child {
  margin-left: 0; }

/* PARTNERS */
.logo-sinapsis {
  width: 30%;
  display: inline-block;
  float: left; }

.partner-descriptions {
  width: 70%;
  display: inline-block;
  float: left;
  margin: 0; }

/* CONTACT */
.contact {
  text-align: center;
  font-style: italic;
  font-size: 1.66rem; }

.contact-us {
  font-weight: 300;
  color: white;
  font-style: normal;
  font-size: 1.38rem;
  border: 1px #29ABE2 solid;
  padding: 0.5rem 2.61rem;
  background-color: #29ABE2;
  -webkit-box-shadow: 0px 4px 0px #186377;
  -moz-box-shadow: 0px 4px 0px #186377;
  box-shadow: 0px 4px 0px #186377; }
