@import url(../lib/normalize-css/normalize.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Variables */
html {
  font: 1em/1.5 "Source Sans Pro", sans-serif;
  font-weight: 200;
  color: #282627;
}

header {
  background: url(../img/blackboard.jpg) center center;
  color: #fff;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
header .tagline {
  display: inline-block;
  border: 1px solid #fff;
  border-width: 1px 0;
  height: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* layout */
.container, .properties, .method {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.container:before, .properties:before, .method:before, .container:after, .properties:after, .method:after {
  content: " ";
  display: table;
}
.container:after, .properties:after, .method:after {
  clear: both;
}

/* main typography elements */
.main-title, .properties h2, .method h2 {
  border: 3px solid #282627;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

strong {
  font-weight: 400;
}

.lead {
  font-size: 1.5em;
  font-weight: 100;
}

.logo {
  height: 4rem;
  vertical-align: baseline;
  float: left;
}

.showcase {
  background-color: #55c3c3;
  color: #FFF;
}

.method .moments {
  padding: 0;
  counter-reset: list-counter;
}
.method li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding-right: 8rem;
}
.method li:last-child {
  margin-right: 0;
}
.method li:nth-child(2) {
  margin-right: 0;
}
.method li:before {
  border-radius: 50%;
  content: counter(list-counter);
  counter-increment: list-counter;
  padding: 0.7rem 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #55c3c3;
  color: #FFF;
}
.method h4 {
  font-size: 24px;
  margin: 0.8rem 0 0;
}
.method .moments p {
  font-size: 22px;
  line-height: 1.27;
  margin: 0 0 5rem;
}

footer {
  margin-top: 2rem;
  padding: 1rem 0 2rem;
  background: url(../img/blackboard.jpg) center bottom;
  color: #FFF;
}
