@import url(../lib/normalize-css/normalize.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Variables */
html {
  font: 1em/1.5 "Source Sans Pro", sans-serif;
  font-weight: 200;
  color: #282627;
}

header {
  background: url(../img/blackboard.jpg) center center;
  color: #fff;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
header .tagline {
  display: inline-block;
  border: 1px solid #fff;
  border-width: 1px 0;
  height: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* layout */
.container, .properties, .method {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.container:before, .properties:before, .method:before, .container:after, .properties:after, .method:after {
  content: " ";
  display: table;
}
.container:after, .properties:after, .method:after {
  clear: both;
}

/* main typography elements */
.main-title, .properties h2, .method h2 {
  border: 3px solid #282627;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 10px;
  display: inline-block;
}

.chunk-title, .properties h3, .method h4 {
  font-size: 24px;
  margin: 0.8rem 0 0;
}

.chunk-copy, .properties p, .method .moments p {
  font-size: 22px;
}

strong {
  font-weight: 400;
}

.lead {
  font-size: 1.5em;
  font-weight: 100;
}

.logo {
  height: 4rem;
  vertical-align: baseline;
  float: left;
}

.properties .reason {
  position: relative;
  padding: 60px 0;
  margin-left: 8.5298%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
}
.properties .reason:last-child {
  margin-right: 0;
}
.properties .reason:nth-child(even) {
  padding-left: 215px;
}
.properties .reason:nth-child(odd) {
  padding-right: 215px;
}
.properties .reason:before {
  position: absolute;
  content: '';
  background: url(../img/taller-icon-sprite.svg) top left;
}
.properties .reason-start:before {
  background-position: 0 0;
  width: 152px;
  height: 183px;
  top: 65px;
  left: 0;
}
.properties .reason-fly:before {
  background-position: 0 -420px;
  width: 436px;
  height: 285px;
  top: 75px;
  right: 0;
}
.properties .reason-minimal:before {
  background-position: 0 -218px;
  width: 165px;
  height: 158px;
  top: 90px;
  left: 0;
}
.properties .reason-cc:before {
  background-position: -173px 0;
  width: 247px;
  height: 249px;
  top: 80px;
  right: 0;
}
.properties .reason-community:before {
  background-position: -206px -273px;
  width: 191px;
  height: 147px;
  top: 120px;
  left: 0;
}

.showcase {
  background-color: #55c3c3;
  color: #FFF;
}

.method .moments {
  padding: 0;
  counter-reset: list-counter;
}
.method li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding-right: 8rem;
}
.method li:last-child {
  margin-right: 0;
}
.method li:nth-child(2) {
  margin-right: 0;
}
.method li:before {
  border-radius: 50%;
  content: counter(list-counter);
  counter-increment: list-counter;
  padding: 0.7rem 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #55c3c3;
  color: #FFF;
}
.method .moments p {
  margin: 0 0 5rem;
}

footer {
  margin-top: 2rem;
  padding: 1rem 0 2rem;
  background: url(../img/blackboard.jpg) center bottom;
  color: #FFF;
}
