@charset "CP850";
@import url(../lib/normalize-css/normalize.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Variables */
html {
  font: 1em/1.5 "source-sans-pro", sans-serif;
  font-weight: 200;
  color: #282627; }

header {
  background: black url(../img/blackboard.jpg) center center;
  color: #fff;
  padding-top: 4rem;
  padding-bottom: 2rem; }
  header .tagline {
    display: inline-block;
    margin: 3em 0;
    border: 1px solid #fff;
    border-width: 1px 0;
    height: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: right; }
  header .lead {
    margin: 4rem auto; }

section {
  padding: 5rem 0; }

.logo {
  text-indent: -9999px;
  display: inline-block;
  width: 193px;
  height: 93px;
  background: url(../img/logo.png) no-repeat; }

/* layout */
.container, .properties, .method, .contact-us, .nav-accesible {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .properties:before, .method:before, .contact-us:before, .nav-accesible:before, .container:after, .properties:after, .method:after, .contact-us:after, .nav-accesible:after {
    content: " ";
    display: table; }
  .container:after, .properties:after, .method:after, .contact-us:after, .nav-accesible:after {
    clear: both; }

/* main typography elements */
.main-title, .properties h2, .method h2, .sponsors h2 {
  margin: 0 0 4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px; }
  .main-title span, .properties h2 span, .method h2 span, .sponsors h2 span {
    display: inline-block;
    padding: 10px;
    border: 3px solid #282627; }

.chunk-title, .properties h3, .method h3 {
  font-size: 24px;
  margin: 0.8rem 0 0; }

.chunk-copy, .properties p, .method .moments p {
  font-size: 22px; }

strong {
  font-weight: 400; }

.lead {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 100;
  text-align: center; }

.logo {
  vertical-align: baseline; }

.properties .reason {
  position: relative;
  margin-bottom: 8rem;
  margin-left: 25.58941%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .properties .reason:last-child {
    margin-right: 0; }
.properties .reason:first-of-type {
  padding-top: 0; }
.properties .reason:last-of-type {
  margin-bottom: 0; }
.properties .reason:nth-child(odd) {
  margin-left: 8.5298%; }
.properties h3 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem; }
.properties p {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem; }
.properties small {
  font-style: italic;
  font-size: 1rem;
  color: #676566; }
.properties .reason:before {
  position: absolute;
  content: '';
  background: url(../img/taller-icon-sprite.svg) top left; }
.properties .reason-start:before {
  background-position: 0 0;
  width: 152px;
  height: 183px;
  top: 10px;
  left: -180px; }
.properties .reason-fly:before {
  background-position: 0 -420px;
  width: 436px;
  height: 285px;
  top: 20px;
  right: -190px; }
.properties .reason-fly p,
.properties .reason-cc p {
  margin-bottom: 0.4rem; }
.properties .reason-minimal:before {
  background-position: 0 -218px;
  width: 165px;
  height: 158px;
  top: 30px;
  left: -190px; }
.properties .reason-cc:before {
  background-position: -173px 0;
  width: 247px;
  height: 249px;
  top: 0;
  right: -230px; }
.properties .reason-community:before {
  background-position: -206px -273px;
  width: 191px;
  height: 147px;
  top: 50px;
  left: -220px; }
.properties .reason-community h3 {
  margin-top: 0.4rem; }

.showcase {
  background: #55c3c3 url(../img/mapa.png) no-repeat right bottom;
  color: #FFF; }
  .showcase h4 {
    margin: 0.5rem 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 0.8rem; }
  .showcase .video {
    float: left; }
  .showcase .ediciones {
    float: left;
    width: 110px;
    text-align: center;
    margin-left: 6rem;
    margin-top: -0.5rem; }
    .showcase .ediciones h5,
    .showcase .ediciones p {
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0.5rem 0;
      font-weight: bold;
      font-size: 13px; }
    .showcase .ediciones .counter {
      font-size: 3.88em;
      font-weight: 500;
      border: 3px solid;
      border-top-width: 11px;
      padding: 0 1rem;
      line-height: 1.2; }

.method {
  padding-bottom: 0; }
  .method .lead {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    margin-top: 0; }
    .method .lead:last-child {
      margin-right: 0; }
  .method .moments {
    margin-top: 2rem;
    padding: 0;
    counter-reset: list-counter;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    *zoom: 1; }
    .method .moments:last-child {
      margin-right: 0; }
    .method .moments:before, .method .moments:after {
      content: " ";
      display: table; }
    .method .moments:after {
      clear: both; }
  .method li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 8.5298%; }
    .method li:last-child {
      margin-right: 0; }
    .method li:nth-child(2n) {
      margin-right: 0; }
    .method li:nth-child(2n+1) {
      clear: left; }
    .method li:nth-child(2n) {
      margin-left: 17.05961%; }
    .method li:before {
      border-radius: 50%;
      content: counter(list-counter);
      counter-increment: list-counter;
      padding: 0.7rem 1.5rem;
      font-size: 2rem;
      font-weight: bold;
      background-color: #55c3c3;
      color: #FFF; }
  .method .moments p {
    margin: 0 0 5rem; }

.contact-us {
  padding-top: 0; }
  .contact-us .cta {
    display: inline-block;
    background-color: #55C3C3;
    color: #FFF;
    padding: 0 4rem;
    margin: .5em 0;
    height: 1.92em;
    line-height: 1.92em;
    box-shadow: 0 0.1em 0 #339090;
    text-decoration: none; }

.ir-logo, .sponsors .logo-mdi, .sponsors .logo-interactores, .sponsors .logo-ctic, .sponsors .logo-utn, .sponsors .logo-dieau, .sponsors .logo-sinapsis, .sponsors .logo-uxsv, footer .logo-ixda, footer .logo-cc, footer .logo-hnea {
  text-indent: -9999px;
  display: block;
  background: url(../img/logos-sprite.png) no-repeat top left; }

.sponsors {
  background: #f2e9e2;
  margin-bottom: 0; }
  .sponsors h2 {
    margin-bottom: 10px;
    border-width: 2px; }
  .sponsors ul {
    text-align: center; }
    .sponsors ul li {
      display: inline-block;
      margin: 40px 30px 20px; }
  .sponsors .logo-mdi {
    background-position: 0 -358px;
    width: 176px;
    height: 77px; }
  .sponsors .logo-interactores {
    background-position: 0 -126px;
    width: 145px;
    height: 81px; }
  .sponsors .logo-ctic {
    background-position: 0 -208px;
    width: 148px;
    height: 87px; }
  .sponsors .logo-utn {
    background-position: 0 -292px;
    width: 233px;
    height: 64px; }
  .sponsors .logo-dieau {
    background-position: 0 -438px;
    width: 151px;
    height: 66px; }
  .sponsors .logo-sinapsis {
    background-position: 0 -513px;
    width: 229px;
    height: 65px; }
  .sponsors .logo-uxsv {
    background-position: 0 -575px;
    width: 134px;
    height: 90px; }

footer {
  padding: 2rem 0;
  background: black url(../img/blackboard.jpg) center bottom;
  color: #FFF; }
  footer .badges {
    float: right; }
    footer .badges a {
      display: inline-block;
      margin: 20px 30px; }
  footer .fb-like,
  footer #fb-root,
  footer .twitter-follow-button {
    display: inline-block; }
  footer .twitter-follow-button {
    margin-bottom: -8px;
    margin-top: 20px; }
  footer .logo-ixda {
    width: 127px;
    height: 54px; }
  footer .logo-cc {
    background-position: 0 -62px;
    width: 125px;
    height: 60px; }
  footer .logo-hnea {
    background-position: -141px -62px;
    width: 93px;
    height: 60px; }

.nav-accesible {
  height: 0; }
  .nav-accesible a {
    text-indent: -9999px;
    display: inline-block; }

@media screen and (max-width: 530px) {
  /* PROPERTIES */
  .properties .reason {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 86.57213%;
    /* p {
    	font-size: 1.2em;
    	/* margin-right: 2%;
    	} */ }
    .properties .reason:last-child {
      margin-right: 0; }
  .properties .reason:first-of-type {
    padding-top: 5.31rem; }
  .properties .reason:nth-child(odd) {
    margin-left: 8.05672%; }
  .properties .reason:before {
    position: absolute;
    content: '';
    background: url(../img/responsive-taller-icon-sprite.svg) top left;
    background-repeat: no-repeat; }
  .properties .reason-start:before {
    background-position: 0 0;
    width: 78px;
    height: 86px;
    top: 2px;
    left: 4px; }
  .properties .reason-fly:before {
    background-position: -32px -193px;
    width: 173px;
    height: 142px;
    top: -77px;
    left: -88px; }
  .properties .reason-minimal:before {
    background-position: 0 -96px;
    width: 77px;
    height: 79px;
    top: -79px;
    left: -2px; }
  .properties .reason-cc:before {
    background-position: -76px 0;
    width: 122px;
    height: 116px;
    top: -101px;
    left: -32px; }
  .properties .reason-community:before {
    background-position: -95px -126px;
    width: 88px;
    height: 68px;
    top: -69px;
    left: 7px; }
  .properties .reason-comunity h3 {
    margin-top: 0.4rem; }

  /* SHOWCASE */
  .showcase h4 {
    text-align: center; }

  /* video adaptativo hasta 715 al final */
  /* MOMENTS */
  .method li {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 86.57213%;
    margin-left: 8.05672%; }
    .method li:last-child {
      margin-right: 0; }
    .method li:nth-child(2n) {
      margin-left: 8.05672%; }
    .method li:before {
      padding: .2rem 1rem; }
  .method h3 {
    margin-top: 0.5rem; }
  .method .moments p {
    margin: 0.8rem 0 5rem; }

  /* SPONSORS AND FOOTER */
  .sponsors ul {
    padding-left: 0; } }
/* VIDEO */
@media screen and (max-width: 741px) {
  header .tagline {
    height: 10%;
    line-height: 1.2rem;
    text-align: center;
    width: 100%;
    padding: .35rem 2% 0;
    letter-spacing: .125rem; }

  span {
    margin: 0 3%; }

  .lead {
    font-size: 1.3rem;
    padding: 2%; }

  /* LOGO */
  .logo-container {
    text-align: center; }

  /* PROPERTIES */
  .properties p,
  .method .moments p {
    font-size: 1.2em; }

  .showcase {
    background-position: -3.93rem 26.93rem;
    -webkit-background-size: 120%;
    -o-background-size: 120%;
    background-size: 120%; }
    .showcase .video-container {
      width: 97%;
      margin: auto; }
    .showcase .video {
      float: center;
      height: 0px;
      width: 100%;
      padding-top: 56.25%;
      position: relative; }
      .showcase .video iframe {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px; }
    .showcase .ediciones {
      margin: 1rem auto;
      float: none; }
      .showcase .ediciones h5,
      .showcase .ediciones p {
        text-align: center; }

  /* FOOTER */
  footer .container, footer .properties, footer .method, footer .contact-us, footer .nav-accesible {
    text-align: center; }
  footer .badges {
    float: none;
    text-align: center; }

  .logo-footer {
    text-align: center;
    width: 100%;
    background-position: center;
    margin: 1.5rem 0 .5rem; }

  .social {
    margin-top: 1.5rem;
    width: 100%;
    clear: left; } }
/*A partir de éste punto existen 2 breakpoint principal dentro
del rango de 531px a 900px */
@media screen and (min-width: 531px) and (max-width: 900px) {
  header .tagline {
    height: 10%;
    line-height: 1.2rem;
    text-align: center;
    padding: .35rem 10%;
    letter-spacing: .125rem; }

  /* LOGO */
  .logo-container {
    text-align: center; }

  .lead {
    font-size: 1.4em;
    margin: 5rem 2% auto 2%; }

  /* PROPERTIES */
  .properties .reason {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 61.56264%;
    margin-left: 34.94305%; }
    .properties .reason:last-child {
      margin-right: 0; }
  .properties .reason:nth-child(odd) {
    margin-left: 5.24146%; }
  .properties .reason:before {
    background-repeat: no-repeat; }
  .properties .reason-fly:before {
    right: -10.125rem; }
  .properties .reason-cc:before {
    width: 12.812rem;
    right: -11rem; }

  /* SHOWCASE */
  .showcase h4 {
    text-align: center; }

  /* MOMENTS */
  .method .moments {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 94.75854%;
    margin-top: 5rem; }
    .method .moments:last-child {
      margin-right: 0; }
  .method li {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 42.34396%;
    margin-left: 5.24146%; }
    .method li:last-child {
      margin-right: 0; }
    .method li:nth-child(2n) {
      margin-left: 5.24146%; }
    .method li:before {
      padding: .2rem 1rem; }

  /* SPONSORS AND FOOTER */
  footer .social {
    clear: left; } }
@media screen and (min-width: 742px) and (max-width: 900px) {
  header .tagline {
    height: 2rem;
    font-size: .8em;
    padding: .35rem 0;
    margin: 4em 0 0; }
  header .lead {
    margin: 10rem auto 5rem; }

  .logo {
    float: left; } }
