* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (max-width: 320px) {
  header {
    padding-top: 10px; }

  /*LAYOUT*/
  .container,
  .main-header,
  .main-interest,
  .people,
  .partners {
    width: auto;
    margin: 0 5%; }

  /*MENU*/
  /*GOALS*/
  .goals {
    height: auto;
    background-attachment: scroll;
    box-shadow: inset 0 0 0 #fff;
    background-size: 180%; }
    .goals .our {
      padding: 0; }

  .goals div p {
    font-size: 1rem;
    width: auto; }

  /* PEOPLE */
  .names {
    *zoom: 1;
    display: block; }
    .names:before, .names:after {
      content: " ";
      display: table; }
    .names:after {
      clear: both; }
    .names li {
      display: block;
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      .names li:last-child {
        margin-right: 0; } }
