@import "../lib/bower-bourbon/bourbon";
@import "../lib/bower-neat/neat";
@import "../lib/normalize-css/normalize.css";

/* Variables */
$green: #55c3c3;
$black: #282627;


html{
    font: 1em/1.5 "Source Sans Pro", sans-serif;
    font-weight: 200;
    color: $black;
}

header {
	background: url(../img/blackboard.jpg) center center;
	color: #fff;
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 3rem;

	.tagline {
		display: inline-block;
		border: 1px solid #fff;
		border-width: 1px 0;
		height: 3rem;
		line-height: 3rem;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

/* layout */
.container {
	@include outer-container;
}

/* main typography elements */
.main-title {
	border: 3px solid $black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	padding: 10px;
	display: inline-block;
}

.chunk-title {
	font-size: 24px;
	margin: 0.8rem 0 0;
}

.chunk-copy {
	font-size: 22px;
}

strong {
	font-weight: 400;
}

.lead {
	font-size: 1.5em;
	font-weight: 100;
}

.logo {
	height: 4rem;
	vertical-align: baseline;
	float: left;
}

.properties{ 
	@extend .container;

	h2 {
		@extend .main-title;
	}

	.reason:nth-child(even) {
		@include shift(4);
	}

	.reason:nth-child(odd) {
		/* @include span-columns(8); */
	}

	h3 {
		@extend .chunk-title;
	}

	p {
		@extend .chunk-copy
	}

}

.showcase {
	background-color: $green;
	color: #FFF;
}

.method {
	@extend .container;

	h2 {
		@extend .main-title;
	}


	.moments {
		padding: 0;
		counter-reset: list-counter;
	}

	li {
		@include span-columns(6);
		padding-right: 8rem;

		&:nth-child(2) {
			@include omega();
		}

		&:before {
			border-radius: 50%;
			content: counter(list-counter);
			counter-increment: list-counter;
			padding: 0.7rem 1.5rem;
			font-size: 2rem;
			font-weight: bold;
			background-color: $green;
			color: #FFF;
		}
	}

	h4 {
		@extend .chunk-title
	}

	.moments p {
		@extend .chunk-copy;
		margin: 0 0 5rem;
	}
}


footer {
	margin-top: 2rem;
	padding: 1rem 0 2rem;
	background: url(../img/blackboard.jpg) center bottom;
	color: #FFF;
}