// $visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: back;
$visual-grid-opacity: 0.1;

@import "../lib/bower-bourbon/bourbon";
@import "../lib/bower-neat/neat";
@import "../lib/normalize-css/normalize.css";

/* Variables */
$green: #55c3c3;
$beige: #f2e9e2;
$black: #282627;
$grey: #676566;


html{
    font: 1em/1.5 "source-sans-pro", sans-serif;
    font-weight: 200;
    color: $black;
}

header {
	background: #000 url(../img/blackboard.jpg) center center;
	color: #fff;
	padding-top: 4rem;
	padding-bottom: 2rem;

	.tagline {
		display: inline-block;
		margin: 3em 0;
		border: 1px solid #fff;
		border-width: 1px 0;
		height: 3rem;
		line-height: 3rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		float: right;
	}

	.lead {
		margin: 4rem auto;
	}
}

section {
	padding: 5rem 0;
}

.logo {
	text-indent: -9999px;
	display: inline-block;
	width: 193px;
	height: 93px;
	background: url(../img/logo.png) no-repeat;
}

/* layout */
.container {
	@include outer-container;
}

/* main typography elements */
.main-title {
	margin: 0 0 4rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;

	span {
		display: inline-block;
		padding: 10px;	
		border: 3px solid $black;
	}
}

.chunk-title {
	font-size: 24px;
	margin: 0.8rem 0 0;
}

.chunk-copy {
	font-size: 22px;
}

strong {
	font-weight: 400;
}

.lead {
	font-size: 32px;
	line-height: 1.2;
	font-weight: 100;
	text-align: center;
}

.logo {
	vertical-align: baseline;
}



.properties{ 
	@extend .container;

	h2 {
		@extend .main-title;
	}

	.reason {
		position: relative;
		margin-bottom: 8rem;
		@include shift(3);
		@include span-columns(8);
	}

	.reason:first-of-type {
		padding-top: 0;
	}

	.reason:last-of-type {
		margin-bottom: 0;
	}

	.reason:nth-child(odd) {
		// padding-right: 215px;
		@include shift(1);
	}

	h3 {
		@extend .chunk-title;
		margin-top: 0.4rem;
		margin-bottom: 0.4rem;
	}

	p {
		@extend .chunk-copy;
		margin-top: 0.4rem;
		margin-bottom: 0.4rem;
	}

	small {
		font-style: italic;
		font-size: 1rem;
		color: $grey;
	}

	.reason:before {
		position: absolute;
		content:'';
		background: url(../img/taller-icon-sprite.svg) top left;
	}

	@mixin sprite-position($pos-left, $pos-top, $width, $height, $top){
		background-position: $pos-left $pos-top;
		width: $width;
		height: $height;
		top: $top;
	}

	.reason-start:before {
		@include sprite-position(0,0,152px,183px,10px);
		left: -180px;
	}

	.reason-fly:before {
		@include sprite-position(0,-420px,436px,285px,20px);
		right: -190px;
	}

	.reason-fly p,
	.reason-cc p {
		margin-bottom: 0.4rem;
	}

	.reason-minimal:before {
		@include sprite-position(0,-218px,165px,158px,30px);
		left: -190px;
	}

	.reason-cc:before {
		@include sprite-position(-173px,0,247px,249px,0);
		right: -230px;
	}

	.reason-community:before {
		@include sprite-position(-206px,-273px,191px,147px,50px);
		left: -220px;
	}

	.reason-community h3 {
		margin-top: 0.4rem;
	}

}

.showcase {

	background: $green url(../img/mapa.png) no-repeat right bottom;
	color: #FFF;

	h4 {
		margin: 0.5rem 0;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 400;
		font-size: 0.8rem;
	}

	.video {
		float: left;
	}

	.ediciones {
		float: left;
		width: 110px;
		text-align: center;
		margin-left: 6rem;
		margin-top: -0.5rem;

		h5,
		p {
			text-transform: uppercase;
			letter-spacing: 2px;
			margin: 0.5rem 0;
			font-weight: bold;
			font-size: 13px;
		}

		.counter {
			font-size: 3.88em;
			font-weight: 500;
			border: 3px solid;
			border-top-width: 11px;
			padding: 0 1rem;
			line-height: 1.2;
		}
	}

}

.method {
	@extend .container;

	h2 {
		@extend .main-title;
	}

	.lead {
		@include span-columns(10);
		@include shift(1);
		margin-top: 0;
	}

	.moments {
		margin-top: 2rem;
		padding: 0;
		counter-reset: list-counter;
		@include span-columns(12);
		@include clearfix();
	}

	li {
		@include span-columns(4);
		@include shift(1);
		@include omega(2n);

		&:nth-child(2n) {
		@include shift(2);
			
		}

		&:before {
			border-radius: 50%;
			content: counter(list-counter);
			counter-increment: list-counter;
			padding: 0.7rem 1.5rem;
			font-size: 2rem;
			font-weight: bold;
			background-color: $green;
			color: #FFF;
		}
	}

	h3 {
		@extend .chunk-title
	}

	.moments p {
		@extend .chunk-copy;
		margin: 0 0 5rem;
	}
}

.contact-us {
	@extend .container;

	.cta {
		display: inline-block;
		background-color: #55C3C3;
		color: #FFF;
		padding: 0 4rem;
		margin: .5em 0;
		height: 1.92em;
		line-height: 1.92em;
		box-shadow: 0 0.1em 0 #339090;
		text-decoration: none;
	}
}

.ir-logo {
  text-indent: -9999px;
  display: block;
  background: url(../img/logos-sprite.png) no-repeat top left;
}

.sponsors {
	background: $beige;
	margin-bottom: 0;

	h2 {
		@extend .main-title;
		margin-bottom: 10px;
		border-width: 2px;
	}
	ul {
		text-align: center;

		li {
			display: inline-block;
			margin: 20px 20px;
		}
	}

	.logo-interactores {
  	@extend .ir-logo;
  	background-position: 0 -126px;
		width: 145px;
		height: 81px;
	}

	.logo-ctic {
		@extend .ir-logo;
		background-position: 0 -208px;
		width: 148px;
		height: 87px;
	}

	.logo-utn {
		@extend .ir-logo;
		background-position: 0 -295px;
		width: 233px;
		height: 76px;
	}
}

footer {
	padding: 2rem 0;
	background: #000 url(../img/blackboard.jpg) center bottom;
	color: #FFF;

	.badges {
		float: right;

		a {
			display: inline-block;
			margin: 20px 30px;
		}
	}

	.fb-like,
	#fb-root,
	.twitter-follow-button {
		display: inline-block;
	}

	.twitter-follow-button {
		margin-bottom: -8px;
		margin-top: 20px;
	}

	.logo-ixda {
		@extend .ir-logo;
		width: 127px;
		height: 54px;
	}

	.logo-cc {
		@extend .ir-logo;
		background-position: 0 -62px;
		width: 125px;
		height: 60px;
	}

	.logo-hnea {
		@extend .ir-logo;
		background-position: -141px -62px;
		width: 93px;
		height: 60px;
	}
}

.nav-accesible {
	@extend .container;
	height: 0;

	a {
		text-indent: -9999px;
		display: inline-block;
	}
}