$mobile: new-breakpoint(max-width 535px 4);
@mixin sprite-position($pos-left, $pos-top, $width, $height, $top){
		background-position: $pos-left $pos-top;
		width: $width;
		height: $height;
		top: $top;
	}
@include media($mobile){

	header{
		.tagline {
			height: 3rem;
			line-height: 1.2rem;
			text-align: center;
			padding:.35rem 0 0 0;
			letter-spacing: .125rem;
			}
	}

	span {
		margin: 0 3%;
	}

	/* LOGO */
	.logo-container {
		text-align: center;
		}

	.lead {
		font-size: 1.3rem;
		padding: 2%;
	}

	/* PROPERTIES */
	.properties {
		.reason {
			
			@include shift(1);
			@include span-columns(3.5 of 4);

			p {
				font-size: 1.18rem;
				/* margin-right: 2%; */
				}		
			}

		.reason:first-of-type {
			padding-top: 5.31rem;
		}

		.reason:nth-child(odd) {
			@include shift(.3);		
		}

		.reason:before {
			  position: absolute;
			  content:'';
			  background: url(../img/responsive-taller-icon-sprite.svg) top left;
			  background-repeat: no-repeat;
		}
		
		.reason-start:before {
			@include sprite-position(0,0,78px,86px,2px);
			left: 4px;
		}
	
		.reason-fly:before {
			@include sprite-position(-32px,-193px,173px,142px,-77px);
			left: -88px;
		}

		.reason-minimal:before {
			@include sprite-position(0,-96px,77px,79px,-79px);
			left: -2px;
		}

		.reason-cc:before {
			@include sprite-position(-76px,0,122px,116px,-101px);
			left: -32px;
		}

		.reason-community:before {
			@include sprite-position(-95px,-126px,88px,68px,-69px);
			left: 7px;
		}

		.reason-comunity h3 {
			margin-top: 0.4rem;
		}

	}

	/* SHOWCASE */
	.showcase {
		background-position: -8.93rem 23.93rem;
		-webkit-background-size: 155%; 
		-o-background-size: 155%; 
		background-size: 155%; 

		h4 {
			text-align: center;
		}

		.video-container{
			width: 97%;
			margin:auto;
		}

		.video {
			float: center;
			height: 0px;
			width: 100%;
			padding-top: 56.25%;
			position: relative;
			
			iframe {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0px;
				left: 0px;
			}
		}

		.ediciones {
			margin: 1rem auto;
			float: none;
			
			
			h5,
			p {
				text-align: center;
			}
		}
	}
	
	/* MOMENTS */
	.method {
		
		li {
				@include span-columns(3.5 of 4);
				@include shift(.3);
				
				&:nth-child(2n) {
					@include shift(.3);
				}

				&:before {
					padding: .1rem 1rem;					
				}
		}

		h3 {
			margin-top: 0.5rem; 
		}

		.moments p {
			margin: 0.8rem 0 5rem;
		}
	}
	
	/* SPONSORS AND FOOTER */
	.sponsors ul {
		padding-left: 0; 
	}
	
	footer .container {
		text-align:center;
	}

	.badges {
		float: center;
		text-align: center;
	}

	.logo-footer {
		text-align: center;
		width: 100%;
		background-position: center;
		margin: 1.5rem 0 .5rem;
	}

	.social {
		margin-top: 1.5rem;	}

}
