/*A partir de éste punto existen 2 breakpoint principal dentro
del rango de 531px a 900px */

$portrait: new-breakpoint(min-width 531px max-width 900px, 6);
$large-portrait: new-breakpoint(min-width 742px max-width 900px, 6);

@mixin sprite-position($pos-left, $pos-top, $width, $height, $top){
	background-position: $pos-left $pos-top;
	width: $width;
	height: $height;
	top: $top;
}


@include media($portrait){
	header {
	  .tagline {
	  	height: 10%;
	  	line-height: 1.2rem;
	  	text-align: center;
	  	padding: .35rem 10%;
	  	letter-spacing: .125rem;  	
	  }
	}

	/* LOGO */
	.logo-container {
		text-align: center; 
	}

	.lead {
		font-size: 1.4em;
		margin: 5rem 2% auto 2%;
		
	}

	/* PROPERTIES */
	.properties {
		.reason {
			@include span-columns(3.8 of 6);
			@include shift(2);
		}

		.reason:nth-child(odd) {
			@include shift(.3);
		}
		.reason:before {
			background-repeat: no-repeat;
		}

		.reason-fly:before {
			right: -10.125rem;
		}

		.reason-cc:before {
			width: 12.812rem;
			right: -11rem;
		}
	}

	/* SHOWCASE */
	.showcase {
		h4 {
			text-align:center;
		}
	}

	/* MOMENTS */
	.method {
		.moments {
			@include span-columns(5.7 of 6);
			margin-top: 5rem; 
			}

		li {
			@include span-columns(2.7);
			@include shift(.3);
			
			&:nth-child(2n) {
				@include shift(.3);
			}

			&:before {
				padding: .2rem 1rem;
			}		
		}
	}
	
	/* SPONSORS AND FOOTER */
 	footer {
		.social {
			clear: left;
		}
	}
}


@include media($large-portrait){
	header {
		.tagline {
			height: 2rem;
			font-size: .8em;
			padding: .35rem 0;
			margin: 4em 0 0; 
		}

		.lead {
			margin: 10rem auto 5rem;
		}
	}

	.logo {
		float: left;
	}
}