$portrait: new-breakpoint(min-width 421px max-width 720px, 6);
@mixin sprite-position($pos-left, $pos-top, $width, $height, $top){
		background-position: $pos-left $pos-top;
		width: $width;
		height: $height;
		top: $top;
	}

@include media($portrait){
	header {
	  .tagline {
	  	height: 3rem;
	  	line-height: 1.2rem;
	  	text-align: center;
	  	padding: .35rem 2.1rem;
	  	letter-spacing: .125rem;
	  	/* float: left; */
	  	
	  }
	}

	/* LOGO */
	.logo-container {
		text-align: center; 
	}

	.lead {
		font-size: 1.5rem;
	}

	/* PROPERTIES */
	.properties {
		.reason
		.reason:before {
				 position: absolute;
				 content:'';
				 background: url(../img/responsive-taller-icon-sprite.svg) top left;
				 background-repeat: no-repeat;
			}
		}
}